@import url('https://fonts.cdnfonts.com/css/proxima-nova');

*{
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova'
}

body{
    background: rgba(255, 223, 140, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages__Wrapper{
    width: 1340px;
    margin-top: 43px;
    margin-bottom: 43px;
    border-radius: 10px;
    border-radius: 10px;
}